:root {
    --vlred: #8F3D3A; 
    --vlyellow: #CFAE23;
    --vlpurple: #665C71;
    --vlgreen: #6e7649;
    --darkgrey: #333333;
    --lightgrey: #888888;

    --crt-red: rgb(218, 49, 49);
    --crt-green: rgb(112, 159, 115);
    --crt-blue: rgb(40, 129, 206);
}

body {
    background-image: linear-gradient(to top, var(--vlpurple), 60%, var(--darkgrey));
    padding: 0px;
    margin: 0px;
}

.grain {
    background-image: url("grain.jpg");
    position: fixed;
    top: 0px;
    left: 0px;
    width: 150%;
    height: 150%;
    opacity: 6%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: grain 0.5s steps(4) infinite;
    z-index: 1;
}

.glitch {
    background-image: url("glitch.png");
    position: fixed;
    top: 0px;
    left: 0px;
    width: 150%;
    height: 150%;
    opacity: 1%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: glitch 0.5s steps(10) infinite;
    animation-direction: alternate;
    z-index: 1;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  25% { transform:translate(-25%, 0%) }
  50% { transform:translate(-25%, -25%) }
  75% { transform:translate(0%, -25%) }
}

@keyframes glitch {
  0%, 100% { transform:translate(-10%, 0%) }
  10% { transform:translate(-8%, -5%) }
  20% { transform:translate(-6%, -8%) }
  30% { transform:translate(-4%, -2%) }
  40% { transform:translate(-2%, -6%) }
  50% { transform:translate(-0%, -1%) }
  60% { transform:translate(-2%, -0%) }
  70% { transform:translate(-4%, -3%) }
  80% { transform:translate(-6%, -8%) }
  90% { transform:translate(-8%, -1%) }
}

.header {
    background-color: var(--vlred);
    color: var(--vlyellow);
    font-weight: bold;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 250%;
    font-family: sans-serif;
    text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5), -1px -1px rgba(0, 255, 255, 0.5);
}

.initialsbox {
    float: right;
    background-color: var(--vlgreen);
    color: var(--vlyellow);
    text-decoration: line-through;
    font-weight: bold;
    width: fit-content;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 15px;
    border: 2px solid var(--vlyellow);
    font-family: sans-serif;
    position: relative;
    z-index: 10;
}

.initialsbox::before {
    content: "VL";
}

.linkbar {
    background-color: var(--vlpurple);
    color: var(--vlyellow);
    font-weight: bold;
    width: 100%;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 95%;
    font-family: monospace;
    border-top: 3px solid var(--vlyellow);
    background: repeating-linear-gradient(
        -45deg,
        var(--vlpurple),
        var(--vlpurple) 5px,
        var(--darkgrey) 5px,
        var(--darkgrey) 6px
    );
    border-bottom: 1px solid var(--vlpurple);
}

.linkbox {
    display: inline-block;
    position: relative;
    background-color: var(--vlyellow);
    padding: 5px;
    color: var(--vlred);
    margin-right: 3px;
    margin-left: 0px;
    text-align: center;
    border: 3px solid var(--vlyellow);
    z-index: 10;
}

:not(.dummy).linkbox:hover {
    background-color: var(--vlred) !important;
    color: var(--vlyellow) !important;
    border: 3px solid var(--vlred);
    cursor: pointer;
    transition: all 0.6s;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.main-body {
    flex: 1;
    flex-basis: 65%;
    color: var(--lightgrey);
}

.side-body {
    flex: 1;
    flex-basis: 30%;
    padding: 10px;
    padding-right: 15px;
    background-color: var(--darkgrey);
    background-image: url(dithering.jpg);
    background-blend-mode: darken;
}

.content-box-std {
    position: relative;
    z-index: 10;
    padding: 10px;
    color: white;
    width: 100;
    min-height: 40px;
    border-top: 5px solid var(--vlpurple);
    margin-bottom: 10px;
    font-family: "Roboto Slab";
    border-bottom: 1px dashed var(--lightgrey);
    mix-blend-mode: screen;
}

.title {
    color: var(--vlyellow);
    font-family: "Fira Code", monospace;
    font-weight: bold;
}

.footer {
    background-color: var(--vlred);
    color: var(--vlyellow);
    font-weight: bold;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    font-size: 30%;
    margin: 0px;
    font-family: monospace;
}

.pride {
    position: fixed;
    bottom: 8px;
    right: 15px;
    border: 2px solid var(--vlyellow);
    opacity: 50%;
    z-index: 10;
}

.trans {
    position: fixed;
    bottom: 8px;
    right: 60px;
    border: 2px solid var(--vlyellow);
    opacity: 50%;
    z-index: 10;
}

img {
    display: block;
}

b {
    font-family: sans-serif;
}

.crt {
    flex: 1;
    flex-basis: 30%;
    padding: 10px;
    background-color: rgb(25, 25, 30);
    position: relative;
    &:before,
    &:after {
        content: "";
        transform: translateZ(0);
        pointer-events: none;
        mix-blend-mode: overlay;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 11;
    }
    &:before {
        background: repeating-linear-gradient(
        var(--crt-red) 0px,
        var(--crt-green) 2px,
        var(--crt-blue) 4px
        );
    }
    &:after {
        background: repeating-linear-gradient(
        90deg,
        var(--crt-red) 1px,
        var(--crt-green) 2px,
        var(--crt-blue) 3px
    );
  }
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.6) inset;
  z-index: 2;
}

#clean {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px; 
}

#clean:target ~ .grain {
    display: none !important;
    animation: none !important;
}

#clean:target ~ .glitch {
    display: none !important;
    animation: none !important;
}


@media only screen and (max-device-width: 480px) {

    .header {
        font-size: 350%;
        padding-top: 25px;
        padding-bottom: 20px;
    }

    .initialsbox {
        display: none;
    }

    .linkbar {
        font-size: 200%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 4px solid var(--vlpurple);
    }

    .linkbox {
        margin-left: 5px;
        margin-right: 5px;
    }

    .dummy.linkbox {
        display: none !important;
    }

    .body {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .side-body {
        font-size: 155%;
    }

    .content-box-std {
        border-top: 0px;
    }

    .footer {
        position: absolute;
        bottom: 0px;
        font-size: 45%;
        background-color: transparent;
    }

    .grain {
        width: 300%;
        height: 300%;
    }

    .glitch {
        width: 300%;
        height: 300%;
    }
}