:root {
    --vlred: #8F3D3A; 
    --vlyellow: #CFAE23;
    --vlpurple: #665C71;
    --vlpurpledk: #4e4657; /* 78, 70, 87 */
    --vlgreen: #6e7649;
    --darkgrey: #333333;
    --lightgrey: #888888;
    --textgrey: #CCCCCC;
}

/*
-------------------------
    Structure
-------------------------
*/
body {
    background-image: linear-gradient(to top, var(--vlpurpledk), 60%, var(--darkgrey));
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

.header {
    background-color: var(--vlred);
    color: var(--vlyellow);
    font-weight: bold;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 250%;
    font-family: sans-serif;
    text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5), -1px -1px rgba(0, 255, 255, 0.5);
    box-shadow: 0px 0px 15px var(--vlyellow), 2px 2px 15px rgba(255, 0, 255, 0.3), -2px -2px 15px rgba(0, 255, 255, 0.3);
    border-top: 4px solid var(--vlyellow);
    border-bottom: 3px solid var(--vlyellow);
    animation: unsteady-low 10s infinite;
    transition: 0.5s;
}

.initialsbox {
    float: right;
    background-color: var(--vlgreen);
    color: var(--vlyellow);
    text-decoration: line-through;
    font-weight: bold;
    width: fit-content;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 15px;
    border: 2px solid var(--vlyellow);
    font-family: sans-serif;
    position: relative;
    z-index: 10;
}

.initialsbox::before {
    content: "VL";
}

.linkbar {
    background-color: var(--vlpurple);
    color: var(--vlyellow);
    font-weight: bold;
    width: 100%;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 95%;
    font-family: monospace;
    border-top: 3px solid var(--vlyellow);
    background: repeating-linear-gradient(
        -45deg,
        var(--vlpurple),
        var(--vlpurple) 3px,
        var(--vlpurpledk) 4px,
        var(--vlpurpledk) 5px
    );
    border-bottom: 1px solid var(--vlpurple);
}

.linkbox {
    display: inline-block;
    position: relative;
    background-color: var(--vlyellow);
    padding: 5px;
    color: var(--vlred);
    margin-right: 3px;
    margin-left: 0px;
    text-align: center;
    border: 3px solid var(--vlyellow);
    z-index: 10;
}

:not(.dummy).linkbox:hover {
    background-color: var(--vlred) !important;
    color: var(--vlyellow) !important;
    border: 3px solid var(--vlred);
    cursor: pointer;
    transition: all 0.6s;
}

.body {
    display: block;
    padding: 1rem;
    background-image: url(noise.png);
    background-size: cover;
    min-height: 100vh;
}

.grid-body {
    /*
    justify-content: start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1rem;
    */
    column-count: 4;
    column-gap: 1rem;
}

.virt-box {
    display: inline-block;
    height: fit-content;
    margin-bottom: 1rem;
    vertical-align: top;
    min-height: 2em;
    color: white;
    font-family: "Roboto Slab";
    border: 1px solid var(--vlyellow);
    border-top: 2px solid var(--vlyellow);
    background-color: rgba(30, 30, 30, 0.1);
    box-shadow: 0px 0px 2px var(--vlyellow), 2px 2px 11px rgba(255, 0, 255, 0.3), 2px -2px 11px rgba(0, 255, 255, 0.3);
    text-shadow: 0 0 0.2em var(--vlyellow);
    font-family: "Fira Code", monospace;
    border-radius: 5px;
    transition: 0.5s;
}

.virt-box:hover {
    box-shadow: 0px 0px 3px var(--vlyellow), 2px 2px 20px rgba(255, 0, 255, 0.4), -2px -2px 20px rgba(0, 255, 255, 0.4);
    transition: 0.7s;
}

.virt-box > .heading {
    position: relative;
    z-index: 10;
    padding: 0.5em;
    border-bottom: 1px dashed var(--vlyellow);
    animation: unsteady 6s infinite;
}

.virt-box > .heading > a {
    color: var(--vlyellow);
    font-family: "Roboto Slab";
    text-decoration: none;
}

.virt-box > .text {
    position: relative;
    z-index: 10;
    padding: 0.5em;
    font-size: 0.9em;
}

.virt-box > img {
    width: 100%;
    border-radius: 5px;
}

.footer {
    background-color: var(--vlred);
    color: var(--vlyellow);
    font-weight: bold;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    font-size: 30%;
    margin: 0px;
    font-family: monospace;
    border-top: 3px solid var(--vlyellow);
    box-shadow: 0px 0px 15px var(--vlyellow), 2px 2px 15px rgba(255, 0, 255, 0.2), -2px -2px 15px rgba(0, 255, 255, 0.2);
    border-bottom: 4px solid var(--vlyellow);
}

.pride {
    position: fixed;
    bottom: 12px;
    right: 15px;
    border: 2px solid var(--vlyellow);
    opacity: 50%;
    z-index: 10;
}

.trans {
    position: fixed;
    bottom: 12px;
    right: 60px;
    border: 2px solid var(--vlyellow);
    opacity: 50%;
    z-index: 10;
}

img {
    display: block;
}

b {
    font-family: sans-serif;
}

.site-icon {
    position: relative;
    z-index: 10;
    height: 2em;
    float: right;
    margin-right: 20px;
    padding-top: 4px;
}

/*
-------------------------
   Visual gimmicks
-------------------------
*/
.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.6) inset;
  z-index: 2;
}

.grain {
    background-image: url("grain.jpg");
    position: fixed;
    top: 0px;
    left: 0px;
    width: 150%;
    height: 150%;
    opacity: 6%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: grain 0.5s steps(4) infinite;
    z-index: 1;
}

.glitch {
    background-image: url("glitch.png");
    position: fixed;
    top: 0px;
    left: 0px;
    width: 150%;
    height: 150%;
    opacity: 1%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: glitch 0.5s steps(10) infinite;
    animation-direction: alternate;
    z-index: 1;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  25% { transform:translate(-25%, 0%) }
  50% { transform:translate(-25%, -25%) }
  75% { transform:translate(0%, -25%) }
}

@keyframes glitch {
  0%, 100% { transform:translate(-10%, 0%) }
  10% { transform:translate(-8%, -5%) }
  20% { transform:translate(-6%, -8%) }
  30% { transform:translate(-4%, -2%) }
  40% { transform:translate(-2%, -6%) }
  50% { transform:translate(-0%, -1%) }
  60% { transform:translate(-2%, -0%) }
  70% { transform:translate(-4%, -3%) }
  80% { transform:translate(-6%, -8%) }
  90% { transform:translate(-8%, -1%) }
}

.header-text {
    animation: form 0.6s steps(5);
    transition-delay: 0.5s;
}

@keyframes form {
    0% {
        filter: brightness(0.9);
        text-shadow: 0 0 0.2em currentColor, 5px 5px rgba(255, 0, 255, 0.5), -5px -5px rgba(0, 255, 255, 0.5);
    }
    25% {
        filter: brightness(0.95);
        text-shadow: 0 0 0.2em currentColor, 4px 4px rgba(255, 0, 255, 0.5), -4px -4px rgba(0, 255, 255, 0.5);
    }
    50% {
        filter: brightness(1);
        text-shadow: 0 0 0.2em currentColor, 3px 3px rgba(255, 0, 255, 0.5), -3px -3px rgba(0, 255, 255, 0.5);
    }
    75% {
        text-shadow: 0 0 0.2em currentColor, 2px 2px rgba(255, 0, 255, 0.5), -2px -2px rgba(0, 255, 255, 0.5);
    }
    100% {
        text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5), -1px -1px rgba(0, 255, 255, 0.5);
    }
}

@keyframes unsteady {
  0%, 100%{
    filter: brightness(1);
  }
  20%, 60%{
    filter: brightness(1.2);
  }
  40%, 80%{
    filter: brightness(1.3);
  }
}

@keyframes unsteady-low {
  0%, 100%{
    filter: brightness(1);
    text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5), -1px -1px rgba(0, 255, 255, 0.5);
  }
  20%, 60%{
    filter: brightness(0.95);
    text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.2), -1px -1px rgba(0, 255, 255, 0.2);
  }
  40%, 80%{
    filter: brightness(1.05);
    text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.7), -1px -1px rgba(0, 255, 255, 0.7);
  }
}

/*
-------------------------
Configuration for clean view
-------------------------
*/
.site-icon.clean {
    display: none;
    
}

.site-icon {
    transition: all 1s;
}

.site-icon:hover {
    filter: brightness(400%);
    transition: all 2s;
}

.clean-img {
    transform: rotate(180deg);
}

#clean:target {
    > .grain {
        display: none !important;
        animation: none !important;
    }

    > .glitch {
        display: none !important;
        animation: none !important;
    }

    > .header > .header-text {
        text-shadow: none;
        transition-delay: 0s;
    }

    > .linkbar > a > .site-icon.clean {
        display: block;
    }

    > .linkbar > a > .site-icon.dirty {
        display: none;
    }
}

/*
-------------------------
Configuration for vertical view on mobile
-------------------------
*/

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
    .grid-body {
        column-count: 3;
    }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .grid-body {
        column-count: 2;
    }
}

@media only screen and (max-width: 767px) {
    .header {
    }

    .grid-body {
        column-count: 1;
    }

    .grain {
        width: 300%;
        height: 300%;
    }

    .glitch {
        width: 300%;
        height: 300%;
    }
}