:root {
    --vlred: #8f3d3a; 
    --vlyellow: #cfae23;
    --vlpurple: #665c71;
    --vlpurpledk: #4e4657; /* 78, 70, 87 */
    --vlgreen: #6e7649;
    --darkgrey: #333333;
    --lightgrey: #888888;
    --textgrey: #CCCCCC;
    --path: #d7d7ff;
}

/*
-------------------------
    Structure
-------------------------
*/
body {
    background-image: linear-gradient(to top, var(--vlpurpledk), 60%, var(--darkgrey));
    margin: 0px;
    min-height: 100vh;
}

.body {
    display: block;
    padding: 1rem;
    padding-right: 1.5rem;
    background-image: url(noise.png);
    background-size: cover;
    min-height: 100vh;
}

.grid-body {
    display: grid;
    grid-auto-flow: row;
    column-count: 2;
    column-gap: 1rem;
    grid-template-columns: auto auto;
}

.box {
    color: var(--lightgrey);
    position: relative;
    display: inline-block;
    width: calc(100% - 2rem);
    break-inside: avoid;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid var(--vlpurple);
    box-shadow: 0px 0px 2px var(--vlyellow), 2px 2px 11px rgba(255, 0, 255, 0.3), 2px -2px 11px rgba(0, 255, 255, 0.3);
    z-index: 10;
    border-radius: 2px;
    background-color: rgba(102, 92, 113, 0.05) !important;
    font-family: "Fira Code", monospace;
}

.box:hover {
    box-shadow: 0px 0px 3px var(--vlyellow), 2px 2px 20px rgba(255, 0, 255, 0.4), -2px -2px 20px rgba(0, 255, 255, 0.4);
    transition: 0.7s;
}

.header {
    background-color: rgba(143, 61, 58, 0.75) !important;
    color: var(--vlyellow) !important;
    font-weight: bold;
    text-align: center;
    font-size: 250%;
    font-family: sans-serif;
    text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5), -1px -1px rgba(0, 255, 255, 0.5);
    padding: 1rem;
    padding-bottom: 0.75rem;
    animation: unsteady-low 10s infinite;
    transition: 0.5s;
    z-index: 0;
}

.footer {
    background-color: rgba(102, 92, 113, 0.75) !important;
    color: var(--lightgrey);
    font-weight: bold;
    text-align: center;
    font-size: 3pt;
    text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5), -1px -1px rgba(0, 255, 255, 0.5);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width: calc(100% - 1rem);
}

.prompt {
    color: #767676;
    margin-bottom: 1rem;
    font-size: inherit;
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed var(--vlyellow);
}

.prompt .path {
    color: var(--path);
}
.prompt .branch {
    color: #d75f5f;
}
.prompt .command {
    color: white;
}

.prompt .dirty {
    color: var(--vlyellow);
}

.output {
    color: white;
    font-family: "Fira Code", monospace;
    margin-bottom: 1rem;
    font-size: inherit;
}

.output .name {
    color: var(--path);
}

.output a {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
    text-decoration: underline;
    transition: 0.5s;
}

.output a:hover {
    background-color: var(--vlred);
    transition: 0.7s;
}

.output table {
    border-collapse: collapse;
    width: 100%;
}

.output th {
    text-align: left;
    vertical-align: top;
    padding-right: 2rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    border-bottom: 1px dashed var(--lightgrey);
    font-weight: normal;
}

.output td {
    text-align: left;
    vertical-align: top;
    padding-right: 2rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}

.output tr:nth-child(even) {
    background-color: rgba(78, 70, 87, 0.4);
}

.output b {
    font-family: inherit;
    color: var(--path);
    font-weight: 450;
}

.i1 {
    margin-left: 1rem;
}

.output a {
    color: var(--vlyellow)
}

.output br {
    margin-bottom: 0.25rem;
}

img {
    display: block;
}

/*
-------------------------
   Visual gimmicks
-------------------------
*/
.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.6) inset;
  z-index: 2;
}

.grain {
    background-image: url("grain.jpg");
    position: fixed;
    top: 0px;
    left: 0px;
    width: 150%;
    height: 150%;
    opacity: 6%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: grain 0.5s steps(4) infinite;
    z-index: 1;
}

.glitch {
    background-image: url("glitch.png");
    position: fixed;
    top: 0px;
    left: 0px;
    width: 150%;
    height: 150%;
    opacity: 1%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: glitch 0.5s steps(10) infinite;
    animation-direction: alternate;
    z-index: 1;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  25% { transform:translate(-25%, 0%) }
  50% { transform:translate(-25%, -25%) }
  75% { transform:translate(0%, -25%) }
}

@keyframes glitch {
  0%, 100% { transform:translate(-10%, 0%) }
  10% { transform:translate(-8%, -5%) }
  20% { transform:translate(-6%, -8%) }
  30% { transform:translate(-4%, -2%) }
  40% { transform:translate(-2%, -6%) }
  50% { transform:translate(-0%, -1%) }
  60% { transform:translate(-2%, -0%) }
  70% { transform:translate(-4%, -3%) }
  80% { transform:translate(-6%, -8%) }
  90% { transform:translate(-8%, -1%) }
}

.header-text {
    animation: form 0.6s steps(5);
    transition-delay: 0.5s;
}

@keyframes form {
    0% {
        filter: brightness(0.9);
        text-shadow: 0 0 0.2em currentColor, 5px 5px rgba(255, 0, 255, 0.5), -5px -5px rgba(0, 255, 255, 0.5);
    }
    25% {
        filter: brightness(0.95);
        text-shadow: 0 0 0.2em currentColor, 4px 4px rgba(255, 0, 255, 0.5), -4px -4px rgba(0, 255, 255, 0.5);
    }
    50% {
        filter: brightness(1);
        text-shadow: 0 0 0.2em currentColor, 3px 3px rgba(255, 0, 255, 0.5), -3px -3px rgba(0, 255, 255, 0.5);
    }
    75% {
        text-shadow: 0 0 0.2em currentColor, 2px 2px rgba(255, 0, 255, 0.5), -2px -2px rgba(0, 255, 255, 0.5);
    }
    100% {
        text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5), -1px -1px rgba(0, 255, 255, 0.5);
    }
}

@keyframes unsteady {
  0%, 100%{
    filter: brightness(1);
  }
  20%, 60%{
    filter: brightness(1.25);
  }
  40%, 80%{
    filter: brightness(1.4);
  }
}

@keyframes unsteady-low {
  0%, 100%{
    filter: brightness(1);
    text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5), -1px -1px rgba(0, 255, 255, 0.5);
  }
  20%, 60%{
    filter: brightness(0.95);
    text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.2), -1px -1px rgba(0, 255, 255, 0.2);
  }
  40%, 80%{
    filter: brightness(1.05);
    text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.7), -1px -1px rgba(0, 255, 255, 0.7);
  }
}

/*
-------------------------
Configuration for vertical view on mobile
-------------------------
*/

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
    .grid-body {
        
        column-count: 2;
    }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .grid-body {
        column-count: 1;
        grid-template-columns: auto;
    }
    .hideable {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .header {
    }

    .grid-body {
        column-count: 1;
        grid-template-columns: auto;
    }

    .grain {
        width: 300%;
        height: 300%;
    }

    .glitch {
        width: 300%;
        height: 300%;
    }
    .hideable {
        display: none;
    }
}